* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  height: 100%;
}
ul,
ol {
  list-style: none;
  text-decoration: none;
}
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  font-size: var(--font-size);
  color: var(--text-color);
}
.container {
  width: 100;
  max-width: 1225px;
  padding: 0 50px;
  margin: 0 auto;
}
main {
  flex-grow: 1;
}
.red-text {
  color: var(--red-text);
}
.btn {
  background-color: var(--red-text);
  padding: 12px 32px;
  border-radius: 4px;
  border: none;
  &:hover {
    opacity: 80%;
  }
  &:active {
    opacity: 90%;
  }
}
